[Desktop Entry]
Encoding=UTF-8
Name=Blackjack
Name[cy]=Blacjac
Name[he]=בלק ג'ק
Name[ja]=ブラックジャック
Name[ko]=블랙잭
Name[pl]=Oczko
Name[sr]=Блекџек
Name[sr@Latn]=Blekdžek
Name[sv]=Tjugoett
Name[zh_TW]=21 點
Comment=Play the casino card game Blackjack
Comment[cs]=Hrát karetní hru Blackjack
Comment[de]=Das Casino-Kartenspiel Blackjack spielen
Comment[es]=Juegue al juego de cartas de casino Blackjack
Comment[he]=שחק במשחק הקלפים של הקזינו בלק ג'ק
Comment[ja]=カジノ・カード・ゲームのブラックジャックをお楽しみ下さい
Comment[ko]=카지노 게임 블랙잭을 플레이합니다
Comment[ms]=Main permainan kad kasino Blackjack
Comment[pl]=Kasynowa wersja gry oczko
Comment[pt]=Jogue o jogo de casino Blackjack
Comment[sr]=Играј казино карташку игру Блекџек
Comment[sr@Latn]=Igraj kazino kartašku igru Blekdžek
Comment[sv]=Spela casinokortspelet Tjugoett
Exec=blackjack
Icon=gnome-blackjack.png
Terminal=false
Type=Application
Categories=GNOME;Application;Game;CardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=blackjack
StartupNotify=true
